<div id="<%= dom_id registration %>">
  <p>
    <strong>User:</strong>
    <%= registration.user_id %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= registration.event_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= registration.status %>
  </p>

</div>
